<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">USANDO VUEJS CON LARAVEL Y  AXIOS</div>

                    <div class="card-body">
                       <form-component @new="agregarPensamiento"></form-component>
                       <list-component 
                       v-for="(pensamiento, index) in pensamientos" 
                       :key="pensamiento.id"
                       :pensamiento="pensamiento"
                       @delete="eliminarPensamiento(index)">
                       </list-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data(){
            return {
                pensamientos: []
                }
        },
        mounted() {
            console.log('Component mounted.')
            axios.get('/pensamientos').then((response) => {
                this.pensamientos = response.data;
            });
           // v-for="pensamiento in pensamientos" :key="pensamiento.id"
        },
        methods: {
            agregarPensamiento(pensamiento) {
                this.pensamientos.push(pensamiento)
            },
            eliminarPensamiento(index) {
                this.pensamientos.splice(index , 1);
            }
        }
    }
</script>
