<template>
  <div class="container">
      <div class="row justify-content-center">
    <b-form v-on:submit.prevent="nuevoPensamiento()">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          placeholder="Enter email"
          v-model="email"
        ></b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input
          id="input-2"
          required
          placeholder="Enter name"
        ></b-form-input>
      </b-form-group>


      <b-form-group id="input-group-4">
        <b-form-checkbox-group id="checkboxes-4">
          <b-form-checkbox value="me">Check me out</b-form-checkbox>
          <b-form-checkbox value="that">Check that out</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                email: ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            nuevoPensamiento(){
                const params = {
                    name: this.email
                };
                this.email = '';
                axios.post('/pensamientos',params).then((response) => {
                  //console.log(response)
                  const pensamientos = response.data;
                   this.$emit('new', pensamientos);
                });
            }
        }
    }
</script>
