<template>
  <div class="container">
      <div class="row justify-content-center">
       {{pensamiento.id}} {{pensamiento.name}}
       <b-button pill variant="info" v-on:click="onClickDelete()">Eliminar</b-button>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['pensamiento'],
        data(){
            return {
               
            };
        },
        mounted() {
            console.log('Component mounted.')
        }, 
        methods: {
            onClickDelete() {
                this.$emit('delete');
            }
        }
    }
</script>
